<div *ngIf='showToggleButton'>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="toggleSelection(true)">All</button>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="toggleSelection(false)">None</button>
</div>
<div *ngFor='let prop of properties' [ngClass]="{
      'custom-control': true,
      'custom-checkbox': true,
      'custom-control-inline': showInline
    }">
  <input type="checkbox" name="prop"
         class="custom-control-input" id="{{prop.name}}-id"
         value="{{prop.name}}"
         [(ngModel)]="prop.isChecked"
         (ngModelChange)="selectedPropertiesChanged()">
  <label class="custom-control-label" for="{{prop.name}}-id">
    {{prop.name}}
  </label>
</div>