<div>
  <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: azure;">
    <a class="navbar-brand" href="#">Budget</a>
    <div class="collapse navbar-collapse">
      <ul class='nav navbar-nav mr-auto'>
        <li><a class="nav-item nav-link" [routerLink]="['/welcome']">Home</a></li>
        <li><a class="nav-item nav-link" [routerLink]="['/accounts-summary']">Summary</a></li>
        <li><a class="nav-item nav-link" [routerLink]="['/transactions']">Transactions List</a></li>
        <li><a class="nav-item nav-link" [routerLink]="['/balance-report']">Balance Report</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="upload-container">
          <pm-file-upload></pm-file-upload>
        </div>
      </form>
    </div>
  </nav>
  <div class='container'>
    <div class="header">
      <div class="filter-container">
        <pm-accounts-filter></pm-accounts-filter>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
