/* You can add global styles to this file, and also import other style files */
li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large;
}

header {
    text-align: center;
    padding: 1px;
    background-color: lightcyan;
    color: black;
}


footer {
    text-align: center;
    background-color: azure;
    color: black;
    width: 100%;
    /* position: fixed;
    bottom: 0; */
}
